div.myycontainer {
    width: 100%;
    overflow: auto;
}
div.myycontainer div {
    width: 33%;
    float: left;
}

/*Inicio del flexbox*/
div.mycontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

div.mycontainer div {
    flex: 1 1 150px; /* Ajusta el tamaño mínimo de los elementos */
    margin: 10px;
    text-align: center;
}

body {
    background-color: #f3ebedf3 !important;
}

.img-large {
    width: 100%;
    max-width: 150px; /* Ajusta el tamaño máximo de las imágenes */
    height: auto;
}

@media (max-width: 600px) {
    .img-large {
        max-width: 100px; /* Ajusta el tamaño máximo de las imágenes para pantallas pequeñas */
    }
}

/*Fin del flexbox*/

/*Estilo del navbar*/
.topnav {
    background-color: #766445;
    overflow: hidden;
    align-items: center;
    text-align: center;
  }
  

  .topnav a {
    float: left;
    display: block;
    color: #bd9f71;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
  }
  

  .topnav a:hover {
    background-color: #f7d39c;
    color: black;
  }
  
  .topnav a.active {
    background-color: #f3e979;
    color: white;
    align-items: center;
  }
  
  .topnav .icon {
    display: none;
  }
  
  /*Estilo de las etiquetas*/
  h1 {
    text-align: center;
    color: #766445;
  }

  h2 {
    text-align: center;
    color: #86511c;
  }

  /*Animacion*/
  @keyframes simpleAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.animate {
    animation: simpleAnimation 1s ease-in-out;
}

/*Estilo de los input*/
    .large-input {
        width: 500px;
    }